<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parseApplicationKey</key>
	<string>SUcn08t1pGO4kP65nOUEIW9itLj6UwvULxJ2izyA</string>
	<key>parseClientKey</key>
	<string>C4zGQi81DWAYy17FYGixNAVgmRMd3pu5YluIdsxs</string>
</dict>
</plist>
